/*Structure code in same way as page flow*/

/*---START OF BODY-----*/

body {
    margin: 0;
    padding: 0;
    padding-top: 300px;
    background-image: url("../assets/vendor/images/abstract.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    color: white;
    font-size: 18px;
    text-align: justify;
}



h1,
h2,
h3 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: .5em;
}

.container-fluid {
    padding: 0;
}

/*----END OF BODY------*/

/*-------START OF NAV-------*/

.navbar-nav>li>a {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    margin: .5em;
    padding: .5em;


}

#myNavbar {
    border-bottom: solid;
    border-color: #9a5688;
    margin: 0;
    padding: 0;
}


.navlogo {
    margin: .4em;
    padding: 0;
}

/*-------END OF NAV --------*/

/*-------START OF HEADER IMAGE------*/



.hero-image {
    background-image: url("../assets/vendor/images/monkees.jpg");
    height: 50%;
    display: block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}




































/*-------END OF HEADER IMAGE--------*/

/*--------START OF GENERAL STYLING------------*/

.container {
    text-align: justify;
}

.logo {
    margin: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



/*--------END OF GENERAL STYLING------------*/

/*-----------START OF FOOTER---------------*/

.footer-container {
    height: 2em;
    text-align: center;
    background-color: #101010;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0;
    border-top: solid;
    border-color: #9a5688;

}

.social-footer {
    margin-bottom: -0.1em;
}

.social-links {
    font-size: 2em;
    text-align: center;
    background-color: #101010;
    margin: 0;
    padding-bottom: .5em;
}

.container.subscribe-container {
    text-align: center;
}

/*-----------END OF FOOTER---------------*/
