/*Structure code in same way as page flow*/

/*Font Families: 
font-family: 'Coiny', cursive;
font-family: 'Spicy Rice', cursive;
font-family: 'Thasadith', sans-serif;*/

/*---START OF BODY-----*/

html {
    font-family: 'Spicy Rice', cursive;


}

body {
    margin: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    padding-top: 50px;
    background-image: url("../assets/vendor/images/abstract.jpg");
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    color: white;
    font-size: 18px;
    text-align: justify;
}


p,
h1,
h2,
h3 {
    font-family: 'Spicy Rice', cursive;
    text-transform: uppercase;
    text-align: center;

}

p {
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 2px;
}


/*----END OF BODY------*/

/*-------START OF NAV-------*/

.navbar-nav>li>a {
    text-align: center;
    font-size: 1em;
    font-family: 'Spicy Rice', cursive;
    text-transform: uppercase;
    margin: .5em;
    padding: 1em;


}

.navbar-inverse .navbar-nav>li>a {
    color: #337ab7;
    transition: 1s;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #e94e01;

}

.navbar-inverse .navbar-nav>.active>a {
    color: #e94e01;

}



.navbar-brand {
    font-family: 'Spicy Rice', cursive;
    font-size: 2em;
    margin-top: 0.5em;
    padding-top: .2em;
    padding-left: 1em;
    color: #337ab7 !important;
    transition: 1s;
}

.navbar-brand:hover {
    color: #e94e01 !important;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 20px 20px;
    margin-top: 8px;
    margin-right: 45px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#myNavbar {
    border-bottom: solid;
    border-color: #9a5688;
    margin: -20px;
    padding: 0;
    overflow: hidden;
}



.navlogo {
    margin: .4em;
    padding: 0;
}

/*-------END OF NAV --------*/

/*-------START OF HEADER IMAGE------*/

.jumbotron {
    margin-bottom: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/vendor/images/abstract.jpg") no-repeat center center fixed;
    background-position: center;
    text-shadow: black 0.3em 0.3em 0.3em;
    border-bottom: solid;
    border-color: #9a5688;
    font-family: 'Spicy Rice', cursive;
    font-size: 5em;
    color: #9a5688;
    padding-top: 10%;
    padding-bottom: 10%;

}

.header-image {
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 3px;

}

.hero-text-container {
    margin-top: -30px;
}

.hero-text-container>h1 {
    font-size: 1em;

}


.hero-text-container>p {
    font-size: 0.5em;

}







/*-------END OF HEADER IMAGE--------*/

/*--------START OF GENERAL STYLING------------*/

.container {
    text-align: justify;
}

.logo {
    margin: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}





/*--------END OF GENERAL STYLING------------*/

/*-----------START OF FOOTER---------------*/

.footer-container {
    text-align: center;
    background-color: #101010;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0;
    border-top: solid;
    border-color: #9a5688;

}

.social-footer {
    margin-bottom: -0.1em;
}

.social-links {
    font-size: 2em;
    text-align: center;
    background-color: #101010;
    margin: 0;
    padding-bottom: .5em;
}

.fa {
    transition: 1s;
}

.fa:hover {
    color: #e94e01;

}

.container.subscribe-container {
    text-align: center;
}

/*-----------END OF FOOTER---------------*/

/*---------START OF BUTTON EFFECTS------*/

.btn {
    border-radius: 10px;
    background-color: #e94e01;
    border: 3px solid;
    color: #f8e6c7;
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 1s;
    cursor: pointer;
}

.btn:hover {
    border-radius: 10px;
    background-color: #f8e6c7;
    border: 3px solid;
    color: #e94e01;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}


.btn-tickets {
    border-radius: 10px;
    background-color: #e94e01;
    border: 3px solid;
    color: #f8e6c7;
    font-size: 20px;
    padding: 10px 30px;
    transition: 1s;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.btn-tickets:hover {
    border-radius: 10px;
    background-color: #f8e6c7;
    color: #e94e01;
    font-size: 20px;
    padding: 20px 40px;
    cursor: pointer;
    letter-spacing: 1.5px;
}




/*---------END OF BUTTON EFFECTS------*/

@media all and (max-width: 480px) {
    .hero-text-container>h1 {
        font-size: 0.5em;
    }
}

@media all and (max-width: 480px) {
    .hero-text-container>p {
        font-size: 0.3em;
        padding-top: 1em;
    }
}

@media all and (max-width: 1200px) {
    #myNavbar {
        font-size: 0.9em;

    }
}


@media all and (max-width: 1100px) {
    .navbar-brand {
        font-size: 1.5em;
    }
}

@media all and (max-width: 768px) {
    input {
        margin: 25px;
        margin-left: 15px;
        font: inherit;
    }
}

@media all and (max-width: 768px) {
    .form-inline {
        justify-content: center;
    }
}
